/* Importando las directivas base de Tailwind CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos aplicacdos a imagenes */
img{
    max-height: 100%
}

/*Estilos aplicados a los elementos input y textarea:*/
input, textarea, select, select {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}

/*Estilos aplicados cuando los elementos input y textarea estan enfocados*/
input:focus, textarea:focus, select:focus {
    @apply border-blue-900;
}

/* Estilos aplicados a los elementos h1 */
h1{
    @apply text-negro mb-2 text-xl;
}

/* Estilos aplicados a los elementos label */
label {
    @apply text-gris;
}

/* Estilos aplicados a los elementos con la clase .btn-primary */
.btn-primary {
    @apply bg-rojoM text-white px-4 py-1 rounded-md;
}

/* Establece el ancho de la tabla al 100% del contenedor */
table.basic {
    @apply w-full;
}

/* Establece el fondo de las celdas en el encabezado de la tabla */
table.basic thead tr td, 
table.basic thead tr th {
    @apply bg-gray-300
}

/* Aplica el borde, color y el espaciado a las celdas de la tabla */
table.basic tr td {
    @apply border border-gray-400 p-1;
}

/* Estiliza los enlaces dentro de la tabla */
table.basic a {
    @apply bg-rojoM text-white text-sm py-1 px-2 rounded-md inline-flex mr-1;
}

/* Botones con relleno y bordes redondeados */
.btn-red, .btn-default {
    @apply px-4 py-1 rounded-md;
}

/* Establece el color del boton y el color del texto */
.btn-red {
    @apply bg-rojoM text-white;
}

/* Establece el fondo y el color del texto */
.btn-default {
    @apply bg-gray-400 text-white
}


/* Estilos aplicados al contenedor de la página */
.layout-container {
    background-color: #3C0000; /* Color de fondo */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos aplicados al contenedor del login */
.login-container {
    text-align: center; /* Centra el texto dentro del contenedor */
    width: 100%;
}

/* Estilos aplicados al logo */
.logo {
    width: 300px;
    height: 200px;
    margin-bottom: 20px; /* Espacio entre el logo y el botón */
    display: block; /* Asegura que el logo sea un bloque de nivel de bloque */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

/* Estilos aplicados al botón de login */
.login-button {
    background-color: #FFFFFF; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 8px; /* Bordes redondeados del botón */
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Fuente del botón */
    font-weight: 500;
    font-size: 1rem; /* Tamaño de fuente del botón */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para cambios de color */
    display: inline-block; /* Asegura que el botón se alinee correctamente */
}

.login-button:hover {
    background-color: #ED1C24; /* Color de fondo en hover */
    color: #FFFFFF; /* Color del texto en hover */
}

  